In [11]:
from rfid_app import db
from rfid_app.models import Student
import pandas as pd

In [5]:
s = Student.query.filter_by(id=1).first()

/Users/john_jensen/coding/rfid_user_tracker/ENV/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [15]:
conn_str='postgresql://localhost:5432/rfid_app'

In [17]:
stu_df = pd.read_sql('select * from students', con=conn_str)

In [18]:
stu_df

   id first_name last_name  home_stop_id school_stop  present
0   1        sue      test             4        None    False
1   2        bob   boblast             1        None    False
2   3        tom       cat             5        None    False
3   4       sara    omaley             2        None    False
4   5      steve   mcqueen             3        None    False